﻿@using JamZoo.Project.WebSite.Enums;
@using JamZoo.Project.WebSite.Library;
@using System.Web.Script.Serialization;
@model JamZoo.Project.WebSite.Models.DocumentTypeModel
@{
    Layout = "~/Views/Shared/_Layout_Com.cshtml";
    string CurrentController = string.Empty;
    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        CurrentController = ViewContext.RouteData.Values["Controller"].ToString();
    }
}

@Html.ActionLink("回上頁", "List", new { page = Model.page }, new { @class = "pure-button" })
<p>
    @Html.ValidationMessage("message")
</p>
@using (Html.BeginForm(Model.Mode == EditPageMode.Create ? "create" : "update",
    CurrentController, new { page = Model.page }, FormMethod.Post,
    new { enctype = "multipart/form-data", @class = "pure-form pure-form-aligned" }))
{
    @Html.HiddenFor(p => p.Id)
    <div>
        <fieldset style="background-color: white; padding: 30px;">
            <div class="pure-control-group">
                @Html.LabelFor(p => p.Name)
                @Html.TextBoxFor(p => p.Name)
                @Html.ValidationMessageFor(p => p.Name)
            </div>

            <div class="pure-control-group">
                @Html.LabelFor(p => p.SubFileName)
                @Html.TextBoxFor(p => p.SubFileName)
                @Html.ValidationMessageFor(p => p.SubFileName)
            </div>

            <div class="pure-control-group">
                @Html.LabelFor(p => p.FilterKeyword)
                @Html.TextBoxFor(p => p.FilterKeyword)
                @Html.ValidationMessageFor(p => p.FilterKeyword)
            </div>
      
            <div class="pure-control-group">
                @Html.LabelFor(p => p.ConvertPageImage)
                <label for="Status" class="pure-radio">
                    @Html.RadioButtonFor(p => p.ConvertPageImage, true) 是&nbsp;
                    @Html.RadioButtonFor(p => p.ConvertPageImage, false) 否&nbsp;
                </label>
                @Html.ValidationMessageFor(p => p.ConvertPageImage)
            </div>

            <div class="pure-control-group">
                <label></label>
                @if (Model.Mode == EditPageMode.Create)
                {
                    <input type="submit" value="新 增" class="pure-button"/>
                }
                else if (Model.Mode == EditPageMode.Update)
                {
                    <input type="submit" value="修 改" class="pure-button" onclick="return Check()" />
                }

            </div>
        </fieldset>
    </div>
}