﻿@using JamZoo.Project.WebSite.Enums
@model JamZoo.Project.WebSite.Models.PermissionModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="~/Content/purecss/pure-min.css" />
    <link href="~/Content/dhtmlx/dhtmlx.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/dhtmlx.js"></script>
    <script>
        var editMode = '@(Model.Id == Guid.Empty ? "Create" : "Update")';
        var ouTree;
        var roleType, unitId;
        $(function () {
            $("#tabs").tabs({
                activate: function(event, ui) {
                    $("#btnUpdate").prop("disabled", "disabled");
                    if (ui.newTab.text() === "選擇部門") {
                        ouTree.clearSelection();
                        accountList.clearAll();
                        $("#btnSelectOu").val(ui.newTab.text());
                        $("#accountList").hide();
                    }
                    if (ui.newTab.text() === "選擇人員") {
                        $("#btnSelectOu").val(ui.newTab.text());
                        $("#accountList").show();
                    }
                }
            });
            ouTree = new dhtmlXTreeObject("ouTree", "100%", "100%", 0);
            ouTree.setImagePath("@Url.Content("~/Content/dhtmlx/imgs/dhxtree_web/")");
            ouTree.setXMLAutoLoading("@Url.Content("~/Permission/GetOrgans")");
            ouTree.setDataMode("json");
            //load first level of tree
            ouTree.load("@Url.Content("~/Permission/GetOrgans")", "json");
            ouTree.setOnClickHandler(function(organId) {
                accountList.load("@Url.Content("~/Permission/GetOrganAccounts")?organId=" + organId, "json");
                if ($("#tabs").tabs("option", "active") === 0) {
                    accountList.clearAll();
                } else {
                    roleType = 1;
                    unitId = organId;
                    $("#btnUpdate").removeAttr("disabled");
                    //parent.oaSelect('@Model.Id', 1, organId, $("#RoleId").val(), editMode);
                }
            });
            var accountList = new dhtmlXList({
                container: "accountList",
                type: {
                    template: "#DisplayName#<br/>Title: #Title#, eMail: #Email#",
                    height: "auto"
                }
            });
            accountList.attachEvent("onItemClick", function (accountId, ev, html) {
                //parent.oaSelect('@Model.Id', 0, accountId, $("#RoleId").val(), editMode);
                roleType = 0;
                unitId = accountId;
                $("#btnUpdate").removeAttr("disabled");
                return true;
            });
            @*var groupList = new dhtmlXList({
                container: "groupList",
                type: {
                    template: "#DisplayName#",
                    height: "auto"
                }
            });
            groupList.attachEvent("onItemClick", function (groupId, ev, html) {
                parent.oaSelect("group", groupId, $("#RoleId").val(), editMode);
                return true;
            });
            groupList.load("@Url.Content("~/Permission/GetGroups")", "json");*@
        });
        function update() {
            parent.oaSelect('@Model.Id', roleType, unitId, $("#RoleId").val(), editMode);
        }
    </script>
</head>
<body>
    <form method="post">
        @Html.HiddenFor(p => p.Id)
        @Html.HiddenFor(p => p.RoleType)
        @Html.HiddenFor(p => p.UnitId)
        @Html.HiddenFor(p => p.BookcaseId)
        @Html.HiddenFor(p => p.FolderId)
        @Html.HiddenFor(p => p.DocumentId)
        <div class="pure-control-group">
            @Html.LabelFor(p => p.RoleName)
            :
            @Html.DropDownListFor(p => p.RoleId, (IEnumerable<SelectListItem>)ViewData["Roles"], new { @class = "pure-input-small" })
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("確定", "Update", null, new { id = "btnUpdate", onclick = "update();return false;", @class = "pure-button", disabled = "disabled" })
        </div>
        @if (Model.Id != Guid.Empty)
        {
            <div class="pure-control-group">
                允許的@(Model.RoleType == 0 ? "人員" : "部門"):
                @Html.DisplayTextFor(p => p.UnitName)
            </div>
        }
        <div id="tabs" style="height: 580px;">
            <ul>
                <li><a href="#tabs-ou">選擇人員</a></li>
                <li><a href="#tabs-ou">選擇部門</a></li>
                @*<li><a href="#tabs-group">選擇群組</a></li>*@
            </ul>
            <div id="tabs-ou">
                <div id="ouTree" style="width: 40%; height: 500px; border: 1px solid Silver; float: left">
                </div>
                <div id="accountList" style="border: 1px solid #A4BED4; background-color: white; width: 59%; height: 500px; float: right"></div>
            </div>
            @*<div id="tabs-group">
                    <div id="groupList" style="border: 1px solid #A4BED4; background-color: white; width: 100%; height: 500px; float: right"></div>
                </div>*@
        </div>
    </form>
</body>
</html>

