﻿@using JamZoo.Project.WebSite.Enums
@model JamZoo.Project.WebSite.Models.PermissionListModel

<link rel="stylesheet" href="@Url.Content("~/Content/purecss/pure-min.css")" />
<link rel="stylesheet" href="@Url.Content("~/Scripts/Library/timePicker/timePicker.css")" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript" src="~/Content/fancyBox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="~/Content/fancyBox/source/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="~/Content/fancyBox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
<link rel="stylesheet" type="text/css" href="~/Content/fancyBox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
<script type="text/javascript" src="~/Content/fancyBox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<link rel="stylesheet" type="text/css" href="~/Content/fancyBox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
<script type="text/javascript" src="~/Content/fancyBox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/Library/timePicker/jquery.timePicker.js")"></script>
@* jquery ui *@
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<link rel="stylesheet" href="~/Scripts/JamZooPBE/style/style.css" />
<link rel="stylesheet" href="~/Scripts/JamZooPBE/style/swiper.css">
<script type="text/javascript" src="~/Scripts/JamZooPBE/script/vue1oix.js"></script>
<script src="~/Scripts/JamZooPBE/script/hammer.js"></script>

@{
    Layout = "";
    string CurrentController = string.Empty;
    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        CurrentController = ViewContext.RouteData.Values["Controller"].ToString();
    }
}
@if (Request.Params["folderId"] == null && Request.Params["documentId"] == null)
{
    <h2>書櫃權限管理</h2>    
}
else
{
    if(Request.Params["folderId"] == null)
    {
        <h2>文件權限管理</h2>    
    }
    else
    {
        <h2>資料夾權限管理</h2>    
    }
}

<form method="post">
    <div>
        <div style="background-color: white; padding: 30px;">
            @Html.Partial("_ErrorMsg", ViewContext.ViewData)
            <a class="fancybox fancybox.iframe" href="~/Permission/Add/@Model.BookcaseId"><button class="pure-button">新增權限</button></a>
            <p></p>
            <table class="pure-table pure-table-bordered" style="width: 100%">
                <thead>
                    <tr>
                        <th>權限定義類型</th>
                        <th>允許的帳號、部門</th>
                        <th>權限</th>
                        <th>功能</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.HiddenFor(p => p.BookcaseId)
                    @Html.Hidden("folderId", Request.Params["folderId"])
                    @Html.Hidden("documentId", Request.Params["documentId"])
                    @if (Model.Data != null)
                    {
                        if (Model.Data.Count == 0)
                        {
                            <tr class="info">
                                <td colspan="5">暫無資料 </td>
                            </tr>
                        }
                        foreach (var Row in Model.Data)
                        {
                            <tr>
                                <td style="text-align: left;">
                                    @Row.RoleTypeName
                                </td>
                                <td>
                                    @Row.UnitName
                                </td>
                                <td>
                                    @Row.RoleName
                                </td>

                                <td>
                                    <a class="fancybox fancybox.iframe" href="~/Permission/Edit?id=@Row.Id">
                                        <button class="pure-button">編輯</button>
                                    </a>
                                    @Html.ActionLink("刪除", "delete", new { id = Row.Id, folderId = @Request.Params["folderId"], documentId = @Request.Params["documentId"], page = Model.Page }, new { onclick = "return confirm('確定刪除?');", @class = "pure-button" })
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="info">
                            <td colspan="6">暫無資料 </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <p></p>
    @{
        Request.RequestContext.RouteData.Values.Add("Search", Model.Search);
        @Html.Partial("_Pager", (JamZoo.Project.WebSite.Models.PagerModel)Model)
    }
</form>
<script>
    $(function() {
        $(".fancybox").fancybox({
            width: '80%',
            height: '630px',
            fitToView: false,
            autoSize: false
        });
    });
    function oaSelect(id, type, unitId, roleId, editModel) {
        document.forms[0].action = '@Url.Content("~/Permission/")' + editModel + "/" + id;
        if (location.search === "")
            document.forms[0].action += "?";
        else
            document.forms[0].action += location.search + "&";
        document.forms[0].action += "roleType=" + type + "&roleId=" + roleId + "&unitId=" + unitId;
        document.forms[0].submit();
        $.fancybox.close();
    }
</script>
