﻿<!DOCTYPE html>
<html lang="en" class="wf-proximanova-n1-active wf-proximanova-n4-active wf-proximanova-n7-active wf-omnespro-n2-active wf-omnespro-n3-active wf-active">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WalkLib</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/purecss/pure-min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Library/timePicker/timePicker.css")" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
   
     @RenderSection("css", false)   

    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <script type="text/javascript" src="~/Content/fancyBox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="~/Content/fancyBox/source/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/fancyBox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/fancyBox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
    <script type="text/javascript" src="~/Content/fancyBox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/fancyBox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
    <script type="text/javascript" src="~/Content/fancyBox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/Library/timePicker/jquery.timePicker.js")"></script>
    @* jquery ui *@
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <link rel="stylesheet" href="~/Scripts/JamZooPBE/style/style.css" />
    <link rel="stylesheet" href="~/Scripts/JamZooPBE/style/swiper.css">
    <script type="text/javascript" src="~/Scripts/JamZooPBE/script/vue1oix.js"></script>    
    <script src="~/Scripts/JamZooPBE/script/hammer.js"></script>

    @RenderSection("js", false)

    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox({
                width: '80%',
                height: '90%',
                fitToView: false,
                autoSize: false
            });
        });

        function deleteAll(sender, args) {
            if (confirm('確定刪除?')) {
                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: "POST",
                    data: { "id": args.id },
                    dataType: "html",
                    success: function (data) {
                        window.location.href = "/" + args.FunctionName + "/list";
                    }
                });
            }
        }
    </script>

</head>

<body>
    <div class="menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div id="main-container" class="tk-chaparral-pro">
        <div id="sub-container">
            <div class="top-bar">
                <div class="app-switch">
                    <span class="switch"><a id="PreBK" href="">&lt;</a><a id="hPreBK" href="">&nbsp;&nbsp;</a></span>
                    <div class="current-app">
                        <div class="icon"><img id="BookCaseIco" style="height:70px;width:70px;" src=""></div>
                    </div>
                    <span class="switch"><a id="NextBK" href="">&gt;</a><a id="hNextBK" href="">&nbsp;&nbsp;</a></span>
                    <div class="clear"></div>
                    <span id="bkNameSpan" class="app-name">WalkLib</span>
                </div>
                <nav class="main-nav">
                    <ul>
                        <a href='@Url.Content("~/Folder/List")'><li style="background-image: url(../../Content/images/floder.png); background-size: 64px 64px;"><span>資料夾</span></li></a>     
                        <a href='@Url.Content("~/Document/List")'><li style="background-image: url(../../Content/images/document.png); background-size: 64px 64px;"><span>所有文件</span></li></a>     
                        <a id="BKEdit" href=""><li style="background-image: url(../../Content/images/EditLib.png); background-size: 64px 64px;"><span>編輯</span></li></a>     
                        @*<a id="BKDelete" href="" onclick="return confirm('確定刪除?');"><li class="new-push"><span>刪除</span></li></a>*@                                             
                        @*<a href='@(Url.Content("~/Permission/List"))'><li style="background-image: url(../../Content/images/permition.png); background-size: 64px 64px;"><span>權限</span></li></a>*@
                        <a class="fancybox fancybox.iframe" href="~/Permission/List">
                            <li style="background-image: url(../../Content/images/permition.png); background-size: 64px 64px;"><span>權限</span></li>
                        </a>
                    </ul>
                </nav>
                <div class="topbar-right">                   
                    <button class="logout" onclick="location.href ='@Url.Content("~/Account/Signout")';">登出</button>                       
                </div>
            </div>            
            <div id="content" class="content-area">
               @RenderBody()
            </div>
        </div>
    </div>

    <div class="slide-in">
       @Html.MvcSiteMap().Menu()
    </div>

</body>


</html>
<script>
    function GetCookie(d) { var c = document.cookie.split("; "); for (var a = 0; a < c.length; a++) { var b = c[a].split("="); if (b[0] == d) { return decodeURIComponent(b[1]) } } return null }

    $(document).ready(function (e) {
        var userDataJson = GetCookie("bookcaseMod");
        var userData = JSON.parse(userDataJson);

        $('#BookCaseIco').attr('src', userData.ThumbnailUrl);
        $("#bkNameSpan").text(userData.Name);

        $('#BKEdit').attr('href', '/Bookcase/Edit?Id=' + userData.Id);
        $('#BKDelete').attr('href', '/Bookcase/Delete?Id=' + userData.Id);

        if (userData.PreId != null) {
            $('#PreBK').attr('href', '/Document/CtrlList?bookCaseId=' + userData.PreId);
            $("#PreBK").show();
            $("#hPreBK").hide();
        }
        else {
            $("#PreBK").hide();
            $("#hPreBK").show();
        }


        if (userData.NextId != null) {
            $('#NextBK').attr('href', '/Document/CtrlList?bookCaseId=' + userData.NextId);
            $("#NextBK").show();
            $("#hNextBK").hide();
        }
        else {
            $("#hNextBK").show();
            $("#NextBK").hide();
        }

        //'@Url.Content("~/Document/CtrlList?bookCaseId=BA426A62-0CD3-42B1-ACB3-910A87B80D5B")'
        var startX, curX, startY, curY; // Variables
        var newXScroll, newYScroll, genXScroll; // More Variables!

        function sideBarHeight() {

            var docHeight = $(document).height();
            var winHeight = $(window).height();

            $('.slide-in').height(winHeight);
            $('#main-container').height(winHeight);
            $('#sub-container').height($('#sub-container').height());
        }

        sideBarHeight();

        var outIn = 'in';

        function runAnimation() {

            if (outIn == 'out') {

                $('.slide-in').toggleClass('on');
                $('#main-container').toggleClass('on');
                outIn = 'in';

            } else if (outIn == 'in') {

                $('.slide-in').toggleClass('on');
                $('#main-container').toggleClass('on');
                outIn = 'out';

            }

        }

        $('.menu-icon')[0].addEventListener('touchend', function (e) {
            $('.slide-in').toggleClass('on');
            $('#main-container').toggleClass('on');
        });

        $('.menu-icon').click(function () {
            $('.slide-in').toggleClass('on');
            $('#main-container').toggleClass('on');
        });



    });

    function getCookie(name)//取cookies函数
    {
        var arr = document.cookie.match(new RegExp("(^| )" + name + "=([^;]*)(;|$)"));
        if (arr != null) return unescape(arr[2]); return null;
    }

    function SetCookie(name, value)//两个参数，一个是cookie的名子，一个是值
    {
        var Days = 30; //此 cookie 将被保存 30 天
        var exp = new Date();    //new Date("December 31, 9998");
        exp.setTime(exp.getTime() + Days * 24 * 60 * 60 * 1000);
        document.cookie = name + "=" + escape(value) + ";path=/;expires=" + exp.toGMTString();
    }

</script>

<style type="text/css">
    .app-icon {
        margin-top: 10px;
    }

    .field-validation-error {
        color: rgba(284,241,56,1);
    }

    ul.pagination li.active {
        background-color: #4E88C3;
    }

        ul.pagination li.active a {
            background-color: #4E88C3;
            color: white;
        }

    .status {
        width: 50% !important;
    }

    .second-nav {
        width: 50% !important;
    }

    ul.score li label {
        font-size: 24px;
    }

    ul.score li.second {
        color: green;
    }

        ul.score li.second label {
            background: green;
        }

    ul.score li.third {
        color: red;
    }

        ul.score li.third label {
            background: red;
        }

    .slide-in {
        width: 200px;
        left: -163px;
    }

        .slide-in ul li {
            font-size: 24px;
        }

    .result-area table tr th {
        background: #5dc7dd;
        border-bottom: 2px solid #f2ff64;
    }

    .result-area button, .bottom-area button {
        background: #22adca;
        border-bottom: 2px solid #f2ff64;
    }

    ul.pagination li.active a {
        background-color: #22adca;
    }

    .result-area table tr th {
        text-align: left;
    }

    .top-bar {
        background-color: #304D5E;
        border-bottom: 10px solid #0198FF;
    }

    .second-bar {
        background-color: #5dc7dd;
    }

    .second-nav ul li {
        background: #FFFFFF;
    }

    .app-card-bottom {
        border-bottom: 2px solid #0198FF;
        background-color: #5dc7dd;
    }
</style>
