﻿    <link rel="stylesheet" href="@Url.Content("~/Content/purecss/pure-min.css")" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />    

    @RenderSection("css", false)
    <style type="text/css">
        .field-validation-error {
            color: rgb(223, 117, 20);
        }

        .message {
            color: red;
        }

        select {
            height: auto;
        }

            select:disabled {
                color: white;
            }

        input[type=text].datetime {
            width: 65px;
        }

        textarea {
            height: 160px;
        }

        .pure-form-aligned .pure-control-group label {
            vertical-align: top;
        }

    </style>       

    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")" type="text/javascript"></script>    

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    @RenderSection("js", false)
        @RenderBody()
