﻿@using JamZoo.Project.WebSite.Enums;
@using JamZoo.Project.WebSite.Library;
@using System.Web.Script.Serialization;
@model JamZoo.Project.WebSite.Models.DocumentModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string CurrentController = string.Empty;
    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        CurrentController = ViewContext.RouteData.Values["Controller"].ToString();
    }
}

@Html.ActionLink("回上頁", "List", new { page = Model.page, foldId = Request.Params["foldId"] }, new { @class = "pure-button" })
<p>
    @Html.ValidationMessage("message")
</p>
@using (Html.BeginForm(Model.Mode == EditPageMode.Create ? "create" : "update",
    CurrentController, new { page = Model.page, foldId = Request.Params["foldId"] }, FormMethod.Post,
    new { enctype = "multipart/form-data", @class = "pure-form pure-form-aligned" }))
{
    @Html.HiddenFor(p => p.Id)    
    @Html.HiddenFor(p => p.DocVerMod.DocumentId)    
    @Html.HiddenFor(p => p.DocVerMod.DisplayVersion)    
    @Html.HiddenFor(p => p.DocVerMod.CoverThumbnailUrl)    
    @Html.HiddenFor(p => p.DocVerMod.FileUrl)    
    @Html.HiddenFor(p => p.DocVerMod.Id)    
    @Html.HiddenFor(p => p.BookcaseId)    
    @Html.HiddenFor(p => p.DocVerMod.State)    
    @Html.HiddenFor(p => p.Domain)
    @Html.HiddenFor(p => p.CreateAccountId)
    @Html.HiddenFor(p => p.CreateTime)
    
     <div>
        <fieldset style="background-color: white; padding: 30px;">
            @if (Model.DocVerMod.State == JamZoo.Project.WebSite.Enums.DocVerState.CheckOut)
            {
                <div class="pure-control-group">
                    @Html.LabelFor(p => p.DocVerMod.DisplayName)
                    @Html.TextBoxFor(p => p.DocVerMod.DisplayName)
                    @Html.ValidationMessageFor(p => p.DocVerMod.DisplayName)
                </div>
            }         
            else
            {
                <div class="pure-control-group">
                    @Html.LabelFor(p => p.DocVerMod.DisplayName)
                    @Html.TextBoxFor(p => p.DocVerMod.DisplayName, new { @readonly = "readonly" })
                    @Html.ValidationMessageFor(p => p.DocVerMod.DisplayName)
                </div>
            }   

            <div class="pure-control-group">
                @Html.LabelFor(p => p.DocVerMod.FilterKeyword)
                @Html.TextBoxFor(p => p.DocVerMod.FilterKeyword)
                @Html.ValidationMessageFor(p => p.DocVerMod.FilterKeyword)
            </div>
        
            @if (Model.Mode == EditPageMode.Create)
            {
                <div class="pure-control-group">
                    @Html.LabelFor(p => p.DocumentTypeName)
                    @Html.DropDownListFor(p => p.DocumentTypeId, Model.DocumentTypeSelectList, new { @class = "pure-input-small" })
                </div>
            }
            else
            {
                <div class="pure-control-group">
                    @Html.LabelFor(p => p.DocumentTypeName)
                    @Html.DropDownListFor(p => p.DocumentTypeId, Model.DocumentTypeSelectList, new { @readonly = "readonly", @class = "pure-input-small" })                
                </div>
            }

            <div class="pure-control-group">
                @Html.LabelFor(p => p.DocVerMod.Expire)
                @Html.Raw(@Html.EditorFor(p => p.DocVerMod.Expire).ToString().Replace("data-val-required", "data-val-date=\"" + "Date Format Error" + "\" data-val-required"))      
                @Html.ValidationMessageFor(p => p.DocVerMod.Expire)
                <script>
                    $(function () {                    
                        $('#DocVerMod_Expire').datepicker({
                            dateFormat: 'yy/mm/dd'
                        });
                    });
                </script>
            </div>
        
        
            @if (Model.CategorItemSelectList1 != null)
            {
                <div class="pure-control-group">
                    @Html.LabelFor(p => p.CategoryItemId1)
                    @Html.DropDownListFor(p => p.CategoryItemId1, Model.CategorItemSelectList1, new { @class = "pure-input-small" })
                </div>
            }
        
            @if (Model.CategorItemSelectList2 != null)
            {
                <div class="pure-control-group">
                    @Html.LabelFor(p => p.CategoryItemId2)
                    @Html.DropDownListFor(p => p.CategoryItemId2, Model.CategorItemSelectList2, new { @class = "pure-input-small" })
                </div>
            }

            @if (Model.CategorItemSelectList3 != null)
            {
                <div class="pure-control-group">
                    @Html.LabelFor(p => p.CategoryItemId3)
                    @Html.DropDownListFor(p => p.CategoryItemId3, Model.CategorItemSelectList3, new { @class = "pure-input-small" })
                </div>   
            }
            
            @if (Model.DocVerMod.State == JamZoo.Project.WebSite.Enums.DocVerState.CheckOut)
            {
                <div class="pure-control-group">
                    @Html.Label("文件檔案")
                    <label for="">
                        @if (Model.DocVerMod.FileUrl != null)
                        {
                            <a href=@Model.DocVerMod.FileUrl>文件檔案下載</a>    
                        }
                        <input type="file" name="file" id="file" style="width: 800px;" />
                    </label>
                </div>                                                                       
                
                <div class="pure-control-group">
                    @Html.Label("封面")
                    <label for="">                        
                        @if (Model.DocVerMod.CoverThumbnailUrl != null && Model.DocVerMod.CoverThumbnailUrl != "")
                        {
                            <img src=@Model.DocVerMod.CoverThumbnailUrl alt="Mountain View" style="width:304px;height:228px;">
                        }
                        <input type="file" name="Coverfile" id="Coverfile" style="width: 800px;" />
                    </label>
                </div>                 
            }                           

            <div class="pure-control-group">
                @Html.LabelFor(p => p.DocVerMod.IsPublic)
                <label for="Status" class="pure-radio">
                    @Html.RadioButtonFor(p => p.DocVerMod.IsPublic, true) 是&nbsp;
                    @Html.RadioButtonFor(p => p.DocVerMod.IsPublic, false) 否&nbsp;
                </label>
                @Html.ValidationMessageFor(p => p.DocVerMod.IsPublic)
            </div>            

            <div class="pure-control-group">
                @Html.LabelFor(p => p.NoInherit)
                <label for="Status" class="pure-radio">
                    @Html.RadioButtonFor(p => p.NoInherit, true) 是&nbsp;
                    @Html.RadioButtonFor(p => p.NoInherit, false) 否&nbsp;
                </label>
                @Html.ValidationMessageFor(p => p.NoInherit)
            </div>

            <div class="pure-control-group">
                <label></label>
                @if (Model.Mode == EditPageMode.Create)
                {
                    <input type="submit" value="新 增" class="pure-button"/>
                }
                else if (Model.Mode == EditPageMode.Update)
                {
                    <input type="submit" value="修 改" class="pure-button" onclick="return Check()" />
                }

            </div>
        </fieldset>
    </div>       
}
<script type="text/javascript">
    $(document).ready(function () {
        var dateStr = $("#DocVerMod_Expire").val();
        if (dateStr.length >= 10) {
            $("#DocVerMod_Expire").val(dateStr.substring(0, 10).replace('上','').replace('下',''));
        }
    });
</script>