﻿@model JamZoo.Project.WebSite.Models.DocumentListModel
@{
    Layout = "~/Views/Shared/_Layout_Com.cshtml";
    string CurrentController = string.Empty;
    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        CurrentController = ViewContext.RouteData.Values["Controller"].ToString();
    }
}
<h2>待審核文件</h2>
<div>
    <div style="background-color: white; padding: 30px;">
        @Html.Partial("_ErrorMsg", ViewContext.ViewData)
        <p></p>
        @using (Html.BeginForm("ApproveList", CurrentController, FormMethod.Get, new { @class = "pure-form" }))
        {
            <div class="pure-u-1-1" style="text-align:right">
                @Html.TextBoxFor(p => p.Search, new { placeholder = "請輸入帳號" })
                <input type="submit" class="pure-button" value="查詢" />
            </div>
        }
        <p></p>
        @Html.ActionLink("新增", "add", new { page = Model.Page }, new { @class = "pure-button" })
        <p></p>
        <table class="pure-table pure-table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th>縮圖</th>
                    <th>顯示名稱</th>
                    <th>所在書櫃</th>
                    <th>文件類型</th>
                    <th>所在資料夾</th>
                    <th>發行版號</th>
                    <th>現行版號</th>
                    <th>檔案下載</th>
                    <th>建立日期</th>
                    <th>功能</th>
                </tr>
            </thead>
            <tbody>

                @if (Model.Data != null)
                {
                    if (Model.Data.Count == 0)
                    {
                        <tr class="info">
                            <td colspan="9">暫無資料 </td>
                        </tr>
                    }
                    foreach (var Row in Model.Data)
                    {
                        <tr>
                            <td style="text-align: center;">
                                @if (@Row.DocVerMod.CoverThumbnailUrl != null)
                                {
                                    <div class="icon"><img id="BookCaseIco" style="height:70px;width:70px;" src=@Row.DocVerMod.CoverThumbnailUrl></div>
                                }
                                else
                                {
                                    @Html.Label("未上傳")
                                }
                            </td>

                            <td style="text-align: left;">
                                @Row.DocVerMod.DisplayName
                            </td>

                            <td style="text-align: left;">
                                @Row.BookcaseName
                            </td>

                            <td style="text-align: left;">
                                @Row.DocumentTypeName
                            </td>

                            <td style="text-align: center;">
                                <a class="fancybox fancybox.iframe" href="~/Document/FolderDocumentCom?DocId=@Row.Id">
                                    <button class="pure-button">所在資料夾</button>
                                </a>
                            </td>

                            <td style="text-align: left;">
                                @Row.DocVerMod.DisplayVersion
                            </td>

                            <td style="text-align: left;">
                                @Row.DocVerMod.Version
                            </td>

                            <td style="text-align: left;">
                                @if (Row.DocVerMod.FileUrl != null)
                                {
                                    <a href=@Row.DocVerMod.FileUrl><button class="pure-button">下載</button></a>
                                }
                                else
                                {
                                    @Html.Label("未上傳")
                                }
                            </td>

                            <td style="text-align: left;">
                                @Row.CreateTime
                            </td>
                            <td>
                                @Html.ActionLink("發佈", "Approve", new { id = Row.Id, page = Model.Page }, new { onclick = "return confirm('確定發佈?');", @class = "pure-button" })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="info">
                        <td colspan="6">暫無資料 </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<p></p>
@{
    Request.RequestContext.RouteData.Values.Add("Search", Model.Search);
    @Html.Partial("_Pager", (JamZoo.Project.WebSite.Models.PagerModel)Model)
}
