﻿@model JamZoo.Project.WebSite.Models.DocumentListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string CurrentController = string.Empty;
    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        CurrentController = ViewContext.RouteData.Values["Controller"].ToString();
    }
}
<h2>文件</h2>
<div>
    <div style="background-color: white; padding: 30px;">
        @Html.Partial("_ErrorMsg", ViewContext.ViewData)
        @using (Html.BeginForm("List", CurrentController, FormMethod.Get, new { @class = "pure-form" }))
        {
                <div class="pure-u-1-1" style="text-align:right">
                    @Html.TextBoxFor(p => p.Search, new { placeholder = "請輸入關鍵字" })
                    <input type="submit" class="pure-button" value="查詢" />
                </div>
        }
        <p></p>
        @Html.ActionLink("新增", "add", new { page = Model.Page, foldId = Request.Params["foldId"] }, new { @class = "pure-button" })
        <p></p>
        <table class="pure-table pure-table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th>縮圖</th>
                    <th>顯示名稱</th>
                    <th>文件類型</th>
                    <th>所在資料夾</th>
                    <th>發行版號</th>
                    <th>現行版號</th>
                    <th>狀態</th>                    
                    <th>轉檔狀態</th>
                    <th>檔案下載</th>
                    <th>建立日期</th>
                    <th>功能</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Data != null)
        {
            if (Model.Data.Count == 0)
            {
                <tr class="info">
                    <td colspan="11">暫無資料 </td>
                </tr>
            }
            foreach (var Row in Model.Data)
            {
                <tr style="height:90px;">
                    <td style=" text-align center;">
                    @if (@Row.DocVerMod.CoverThumbnailUrl != null)
                    {
                        <div class="icon"><img id="BookCaseIco" style="height:70px;width:70px;" src=@Row.DocVerMod.CoverThumbnailUrl></div>
                    }
                    else
                    {
                        <div class="icon"><img id="BookCaseIco" style="height:70px;width:70px;" src="../Content/images/DefaultDoc.jpg"></div>
                    }
                    </td>
                    <td style="text-align: left;">
                        @Row.DocVerMod.DisplayName
                    </td>

                    <td style="text-align: left;">
                        @Row.DocumentTypeName
                    </td>

                    <td style="text-align: center;">
                        @Row.FolderString
                        <a class="pure-button fancybox.iframe" href="~/Document/FolderDocumentCom?DocId=@Row.Id&bookcaseId=@Row.BookcaseId">所在資料夾</a>                        
                    </td>

                    <td style="text-align: left;">
                        @Row.DocVerMod.DisplayVersion
                    </td>

                    <td style="text-align: left;">
                        @Row.DocVerMod.Version
                    </td>

                    <td style="text-align: left;">
                        @((Row.DocVerMod.State == JamZoo.Project.WebSite.Enums.DocVerState.CheckOut) ? "CheckOut" : ((Row.DocVerMod.State == JamZoo.Project.WebSite.Enums.DocVerState.CheckIn) ? "CheckIn" : "Release"))
                    </td>

                    <td style="text-align: left;">
                        @Row.ConvertStatus
                    </td>

                    <td style="text-align: left;">                        
                        @if (Row.DocVerMod.FileUrl != null)
                        {
                            <button class="pure-button" onclick="saveAs('@Row.DocVerMod.FileUrl','@Row.DocVerMod.FileName')">下載</button>
                            @*<a href=@Row.DocVerMod.FileUrl download=@Row.DocVerMod.FileName><button class="pure-button">下載</button></a>*@
                        }
                        else
                        {
                            @Html.Label("未上傳")
                        }
                    </td>


                    <td style="text-align: left;">
                        @Row.CreateTime
                    </td>

                    <td>
                        @if (@Row.DocVerMod.State == JamZoo.Project.WebSite.Enums.DocVerState.CheckOut)
                        {
                            @Html.ActionLink("編輯", "Edit", new { id = Row.Id, page = Model.Page, foldId = Request.Params["foldId"] }, new { @class = "pure-button" })
                        }
                        @if (@Row.DocVerMod.State == JamZoo.Project.WebSite.Enums.DocVerState.CheckOut)
                        {
                            @Html.ActionLink("簽入", "CheckIn", new { id = Row.Id, page = Model.Page }, new { onclick = "return confirm('確定簽入?');", @class = "pure-button" })
                        }
                        else
                        {
                            @Html.ActionLink("簽出", "CheckOut", new { id = Row.Id, page = Model.Page }, new { onclick = "return confirm('確定簽出?');", @class = "pure-button" })
                        }
                        @Html.ActionLink("刪除", "delete", new { id = Row.Id, page = Model.Page }, new { onclick = "return confirm('確定刪除?');", @class = "pure-button" })

                        @if ((@Row.DocVerMod.State == JamZoo.Project.WebSite.Enums.DocVerState.CheckOut) && (@Row.DocVerMod.Version > new decimal(0.1)))
                        {
                            @Html.ActionLink("退回先前版本", "ReverToVersion", new { TagVerId = "314AE729-C8DC-40C6-8BD6-2919FA93E925" }, new { onclick = "return confirm('確定退回先前版本?');", @class = "pure-button" })
                        }
                        @if (@Row.DocVerMod.State == JamZoo.Project.WebSite.Enums.DocVerState.CheckIn)
                        {
                            @Html.ActionLink("發佈", "Approve", new { id = Row.Id, page = Model.Page }, new { onclick = "return confirm('確定發佈?');", @class = "pure-button" })
                        }                    

                        @if (@Model.FolderIsNoInherit)
                        {
                            @*@Html.ActionLink("編輯權限", "List", "Permission", new { documentId = Row.Id, page = Model.Page }, new { @class = "pure-button" })*@
                            <a class="pure-button fancybox fancybox.iframe" href="~/Permission/List?documentId=@Row.Id&page=@Model.Page">編輯權限</a>
                        }                                                
                    </td>
                </tr>
            }
        }
                else
                {
            <tr class="info">
                <td colspan="11">暫無資料 </td>
            </tr>
        }
            </tbody>
        </table>
    </div>
</div>
<p></p>
@{
    Request.RequestContext.RouteData.Values.Add("Search", Model.Search);
    @Html.Partial("_Pager", (JamZoo.Project.WebSite.Models.PagerModel)Model)
}
<script>
    function saveAs(uri, filename) {        
        var link = document.createElement('a');
        if (typeof link.download === 'string') {

            link.href = uri;
            link.download = filename;

            //Firefox requires the link to be in the body
            document.body.appendChild(link);

            //simulate click
            link.click();

            //remove the link when done
            document.body.removeChild(link);
        } else {
            window.open(uri);
        }
    }

    function saveContent(uri, fileName) {
        var link = document.createElement('a');
        link.download = fileName;
        link.href = 'data:' + uri;
        link.click();
    }
</script>