﻿@using JamZoo.Project.WebSite.Enums;
@using JamZoo.Project.WebSite.Library;
@using System.Web.Script.Serialization;
@model JamZoo.Project.WebSite.Models.BookcaseModel
@{
    if (Model.Name == null)
    {
        Layout = "~/Views/Shared/_Layout_Com.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }    
    string CurrentController = string.Empty;
    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        CurrentController = ViewContext.RouteData.Values["Controller"].ToString();
    }
}
<script type="text/javascript">


</script>
@Html.ActionLink("回上頁", "CtrlList", "Document", new { bookCaseId = Model.Id }, new { @class = "pure-button" })
<p>
    @Html.ValidationMessage("message")
</p>
@using (Html.BeginForm(Model.Mode == EditPageMode.Create ? "create" : "update",
    CurrentController, new { page = Model.page }, FormMethod.Post,
    new { enctype = "multipart/form-data", @class = "pure-form pure-form-aligned" }))
{
    @Html.HiddenFor(p => p.Id)
    @Html.HiddenFor(p => p.ThumbnailUrl)
    @Html.HiddenFor(p => p.Domain)
    @Html.HiddenFor(p => p.CreateAccountId)
    @Html.HiddenFor(p => p.CreateTime)
    
     <div>
        <fieldset style="background-color: white; padding: 30px;">
            <div class="pure-control-group">
                @Html.LabelFor(p => p.Name)
                @Html.TextBoxFor(p => p.Name)
                @Html.ValidationMessageFor(p => p.Name)
            </div>
      
            <div class="pure-control-group">
                @Html.Label("書櫃縮圖")
                <label for="">
                    <input type="file" name="file" id="file" style="width: 800px;" />
                    @if (Model.ThumbnailUrl != null && Model.ThumbnailUrl != "")
                    {
                        <img src=@Model.ThumbnailUrl alt="Mountain View" style="width:304px;height:228px;">
                    }
                </label>
            </div>

            <div class="pure-control-group">
                @Html.LabelFor(p => p.CategoryId1)
                @Html.DropDownListFor(p => p.CategoryId1, Model.CategorSelectList1, new { @class = "pure-input-small" })
            </div>

            <div class="pure-control-group">
                @Html.LabelFor(p => p.CategoryId2)
                @Html.DropDownListFor(p => p.CategoryId2, Model.CategorSelectList2, new { @class = "pure-input-small" })
            </div>

            <div class="pure-control-group">
                @Html.LabelFor(p => p.CategoryId3)
                @Html.DropDownListFor(p => p.CategoryId3, Model.CategorSelectList3, new { @class = "pure-input-small" })
            </div>        

            <div class="pure-control-group">
                @Html.LabelFor(p => p.IsApproveEnabled)
                <label for="Status" class="pure-radio">
                    @Html.RadioButtonFor(p => p.IsApproveEnabled, true) 是&nbsp;
                    @Html.RadioButtonFor(p => p.IsApproveEnabled, false) 否&nbsp;
                </label>
                @Html.ValidationMessageFor(p => p.IsApproveEnabled)
            </div>

            <div class="pure-control-group">
                @Html.LabelFor(p => p.IsVersionControlEnabled)
                <label for="Status" class="pure-radio">
                    @Html.RadioButtonFor(p => p.IsVersionControlEnabled, true) 是&nbsp;
                    @Html.RadioButtonFor(p => p.IsVersionControlEnabled, false) 否&nbsp;
                </label>
                @Html.ValidationMessageFor(p => p.IsVersionControlEnabled)
            </div>

            <div class="pure-control-group">
                @Html.LabelFor(p => p.IsDocumentExpireDelete)
                <label for="Status" class="pure-radio">
                    @Html.RadioButtonFor(p => p.IsDocumentExpireDelete, true) 是&nbsp;
                    @Html.RadioButtonFor(p => p.IsDocumentExpireDelete, false) 否&nbsp;
                </label>
                @Html.ValidationMessageFor(p => p.IsDocumentExpireDelete)
            </div>

            <div class="pure-control-group">
                @Html.LabelFor(p => p.NoInherit)
                <label for="Status" class="pure-radio">
                    @Html.RadioButtonFor(p => p.NoInherit, true) 是&nbsp;
                    @Html.RadioButtonFor(p => p.NoInherit, false) 否&nbsp;
                </label>
                @Html.ValidationMessageFor(p => p.NoInherit)
            </div>

            <div class="pure-control-group">
                <label></label>
                @if (Model.Mode == EditPageMode.Create)
                {
                    <input type="submit" value="新 增" class="pure-button"/>
                }
                else if (Model.Mode == EditPageMode.Update)
                {
                    <input type="submit" value="修 改" class="pure-button" onclick="return Check()" />
                }

            </div>
        </fieldset>
    </div>
}