﻿@model JamZoo.Project.WebSite.Models.BookcaseListModel
@{
    Layout = "~/Views/Shared/_Layout_Com.cshtml";
    string CurrentController = string.Empty;
    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        CurrentController = ViewContext.RouteData.Values["Controller"].ToString();
    }
}
<style type="text/css">
    .app-icon {
        margin-top: 10px;
    }

    .field-validation-error {
        color: rgba(284,241,56,1);
    }

    ul.pagination li.active {
        background-color: #4E88C3;
    }

        ul.pagination li.active a {
            background-color: #4E88C3;
            color: white;
        }

    .status {
        width: 50% !important;
    }

    .second-nav {
        width: 50% !important;
    }

    ul.score li label {
        font-size: 24px;
    }

    ul.score li.second {
        color: green;
    }

        ul.score li.second label {
            background: green;
        }

    ul.score li.third {
        color: red;
    }

        ul.score li.third label {
            background: red;
        }

    .slide-in {
        width: 200px;
        left: -163px;
    }

        .slide-in ul li {
            font-size: 24px;
        }

    .result-area table tr th {
        background: #5dc7dd;
        border-bottom: 2px solid #f2ff64;
    }

    .result-area button, .bottom-area button {
        background: #22adca;
        border-bottom: 2px solid #f2ff64;
    }

    ul.pagination li.active a {
        background-color: #22adca;
    }

    .result-area table tr th {
        text-align: left;
    }

    .top-bar {
        background-color: #304D5E;
        border-bottom: 10px solid #0198FF;
    }

    .second-bar {
        background-color: #5dc7dd;
    }

    .second-nav ul li {
        background: #FFFFFF;
    }

    .app-card-bottom {
        border-bottom: 2px solid #0198FF;
        background-color: #5dc7dd;
    }
</style>

<h2>書櫃</h2>
<div>
    <div style="background-color: white; padding: 30px;">
        @Html.Partial("_ErrorMsg", ViewContext.ViewData)
        <p></p>
        @using (Html.BeginForm("List", CurrentController, FormMethod.Get, new { @class = "pure-form" }))
        {
            <div class="pure-u-1-1" style="text-align:right">
                @Html.TextBoxFor(p => p.Search, new { placeholder = "請輸入書櫃名稱" })
                <input type="submit" class="pure-button" value="查詢" />
            </div>
        }
        <p></p>
        @Html.ActionLink("新增", "add", new { page = Model.Page }, new { @class = "pure-button" })
        <p></p>
        <div class="result-area">
            <ul class="app-list">
                @foreach (var Row in Model.Data)
                {
                    <li class="app-card">
                        <a href="~/Document/CtrlList?bookCaseId=@Row.Id">
                            <div class="left">
                                <div class="app-icon">
                                    <img src=@Row.ThumbnailUrl class="APPIcon" width="100" height="100" />
                                </div>
                                <p>@Row.Name</p>
                            </div>
                            <div class="right" style="position:relative">
                                <ul>
                                    <li>狀態：開發產品</li>
                                    <li>自訂分類1：@Row.CategoryName1</li>
                                    <li>自訂分類2：@Row.CategoryName2</li>
                                    <li>自訂分類3：@Row.CategoryName3</li>
                                </ul>
                            </div>

                        </a>
                    </li>
                }
            </ul>
        </div>         
</div>
</div>
<p></p>
@{
    Request.RequestContext.RouteData.Values.Add("Search", Model.Search);
    @Html.Partial("_Pager", (JamZoo.Project.WebSite.Models.PagerModel)Model)
}
