﻿@using JamZoo.Project.WebSite.Enums;
@using JamZoo.Project.WebSite.Library;
@using System.Web.Script.Serialization;
@model JamZoo.Project.WebSite.Models.CategoryItemModel
@{
    Layout = "";
    string CurrentController = string.Empty;
    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        CurrentController = ViewContext.RouteData.Values["Controller"].ToString();
    }
}

<link rel="stylesheet" href="@Url.Content("~/Content/purecss/pure-min.css")" />
<link rel="stylesheet" href="@Url.Content("~/Scripts/Library/timePicker/timePicker.css")" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<script type="text/javascript">

</script>
@Html.ActionLink("回上頁", "List", new { page = Model.page, CategoryId = Model.CategoryId }, new { @class = "pure-button" })
<p>
    @Html.ValidationMessage("message")
</p>
@using (Html.BeginForm(Model.Mode == EditPageMode.Create ? "create" : "update",
    CurrentController, new { page = Model.page }, FormMethod.Post,
    new { enctype = "multipart/form-data", @class = "pure-form pure-form-aligned" }))
{
    @Html.HiddenFor(p => p.Id)
    @Html.HiddenFor(p => p.CategoryId)
    
    <fieldset>
        <div class="pure-control-group">
            @Html.LabelFor(p => p.Name)
            @Html.TextBoxFor(p => p.Name)
            @Html.ValidationMessageFor(p => p.Name)
        </div>      

        <div class="pure-control-group">
            <label></label>
            @if (Model.Mode == EditPageMode.Create)
            {
                <input type="submit" value="新 增" class="pure-button"/>
            }
            else if (Model.Mode == EditPageMode.Update)
            {
                <input type="submit" value="修 改" class="pure-button" onclick="return Check()" />
            }

        </div>
    </fieldset>
}