﻿@model JamZoo.Project.WebSite.Models.CategoryItemListModel
@{
    Layout = "";
    string CurrentController = string.Empty;
    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        CurrentController = ViewContext.RouteData.Values["Controller"].ToString();
    }
}

<link rel="stylesheet" href="@Url.Content("~/Content/purecss/pure-min.css")" />
<link rel="stylesheet" href="@Url.Content("~/Scripts/Library/timePicker/timePicker.css")" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<h2>自訂類別</h2>
<div>
    <div style="background-color: white; padding: 30px;">
        @Html.Partial("_ErrorMsg", ViewContext.ViewData)
        <p></p>
        @using (Html.BeginForm("List", CurrentController, FormMethod.Get, new { @class = "pure-form" }))
        {
            <div class="pure-u-1-1" style="text-align:right">
                @Html.TextBoxFor(p => p.Search, new { placeholder = "請輸入名稱" })
                <input type="submit" class="pure-button" value="查詢" />
            </div>

            @Html.HiddenFor(p => p.CategoryId)
        }
        <p></p>
        @Html.ActionLink("新增", "add", new { page = Model.Page, CategoryId = Model.CategoryId }, new { @class = "pure-button" })
        <p></p>
        <table class="pure-table pure-table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th>顯示名稱</th>
                    <th>建立人員</th>
                    <th>功能</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Data != null)
                {
                    if (Model.Data.Count == 0)
                    {
                        <tr class="info">
                            <td colspan="4">暫無資料 </td>
                        </tr>
                    }
                    foreach (var Row in Model.Data)
                    {
                        <tr>
                            <td style="text-align: left;">
                                @Row.Name
                            </td>
                            <td>
                                @Row.CreateAccountId
                            </td>
                            <td>
                                @Html.ActionLink("編輯", "Edit",
                            new { id = Row.Id, page = Model.Page },
                            new { @class = "pure-button" })
                                @Html.ActionLink("刪除", "delete", new { id = Row.Id, page = Model.Page, categoryId = Model.CategoryId }, new { onclick = "return confirm('確定刪除?');", @class = "pure-button" })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="info">
                        <td colspan="6">暫無資料 </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<p></p>
@{
    Request.RequestContext.RouteData.Values.Add("Search", Model.Search);
    @Html.Partial("_Pager", (JamZoo.Project.WebSite.Models.PagerModel)Model)
}
