﻿<select class="pure-input-small" data-val="true" data-val-required="*" id="@ViewData.TemplateInfo.HtmlFieldPrefix" name="@ViewData.TemplateInfo.HtmlFieldPrefix">
    @{
    var items = (IEnumerable<dynamic>)ViewData[string.Format("{0}_Data", ViewData.TemplateInfo.HtmlFieldPrefix)];
    foreach (var item in items)
    {
        <option @(string.Compare(item.GetType().GetProperty("Value").GetValue(item, null).ToString(), ViewData.TemplateInfo.FormattedModelValue.ToString()) == 0 ? "selected = 'selected'" : "") value="@item.GetType().GetProperty("Value").GetValue(item, null).ToString()">@item.GetType().GetProperty("Text").GetValue(item, null).ToString()</option>
    }
}
</select>