﻿<select class="pure-input-small" multiple="multiple" size="10" data-val="true" data-val-required="*" id="@ViewData.TemplateInfo.HtmlFieldPrefix" name="@ViewData.TemplateInfo.HtmlFieldPrefix" style="width: 100%">
    @{
        var items = (IEnumerable<dynamic>)ViewData[string.Format("{0}_Data", ViewData.TemplateInfo.HtmlFieldPrefix)];
        if (items != null)
        {
            foreach (var item in items)
            {
            <option value="@item.Value">@item.Text</option>
                }
            }
        }
</select>