﻿@using JamZoo.Project.WebSite.Enums;
@using JamZoo.Project.WebSite.Library;
@using System.Web.Script.Serialization;
@model JamZoo.Project.WebSite.Models.AccountModel
@{
    Layout = "~/Views/Shared/_Layout_Com.cshtml";
    string CurrentController = string.Empty;
    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        CurrentController = ViewContext.RouteData.Values["Controller"].ToString();
    }
}
<script type="text/javascript">

</script>
@Html.ActionLink("回上頁", "List", new { page = Model.page }, new { @class = "pure-button" })
<p>
    @Html.ValidationMessage("message")
</p>
@using (Html.BeginForm(Model.Mode == EditPageMode.Create ? "create" : "update",
    CurrentController, new { page = Model.page }, FormMethod.Post,
    new { enctype = "multipart/form-data", @class = "pure-form pure-form-aligned" }))
{
    @Html.HiddenFor(p => p.Id)
     <div>
        <fieldset style="background-color: white; padding: 30px;">
            @if (Model.Mode == EditPageMode.Create)
            {
                <div class="pure-control-group">
                    @Html.LabelFor(p => p.Email)
                    @Html.TextBoxFor(p => p.Email)
                    @Html.ValidationMessageFor(p => p.Email)
                </div>
            }
            else
            {
                <div class="pure-control-group">
                    @Html.LabelFor(p => p.Email)
                    @Html.TextBoxFor(p => p.Email, new { @readonly = "readonly" })
                    @Html.ValidationMessageFor(p => p.Email)
                </div>
            }

            <div class="pure-control-group">
                @Html.LabelFor(p => p.OfficalName)
                @Html.TextBoxFor(p => p.OfficalName)
                @Html.ValidationMessageFor(p => p.OfficalName)
            </div>

            <div class="pure-control-group">
                @Html.LabelFor(p => p.DisplayName)
                @Html.TextBoxFor(p => p.DisplayName)
                @Html.ValidationMessageFor(p => p.DisplayName)
            </div>        

            <div class="pure-control-group">
                @Html.LabelFor(p => p.Title)
                @Html.TextBoxFor(p => p.Title)
                @Html.ValidationMessageFor(p => p.Title)
            </div>

            <div class="pure-control-group">
                @Html.LabelFor(p => p.Password)
                @Html.PasswordFor(p => p.Password)
                @Html.ValidationMessageFor(p => p.Password)
                @Html.PasswordFor(p => p.RePassword)
                @Html.ValidationMessageFor(p => p.RePassword)
            </div>

            <div class="pure-control-group">
                @Html.LabelFor(p => p.Role)
                @Html.DropDownListFor(p => p.Role, Model.RoleSelectList, new { @class = "pure-input-small" })
            </div>

            @*<div class="pure-control-group">
                @Html.LabelFor(p => p.Status)
                <label for="Status" class="pure-radio">
                    @Html.RadioButtonFor(p => p.Status, true) 啟用&nbsp;
                    @Html.RadioButtonFor(p => p.Status, false) 停用&nbsp;
                </label>
                @Html.ValidationMessageFor(p => p.Status)
            </div>*@

            <div class="pure-control-group">
                @Html.LabelFor(p => p.CreateDate)
                @Model.CreateDate
                @Html.HiddenFor(p => p.CreateDate)
            </div>

            @if (Model.LastLoginTime.HasValue)
            {
                <div class="pure-control-group">
                    @Html.LabelFor(p => p.LastLoginTime)
                    @Model.LastLoginTime
                </div>
            }

            <div class="pure-control-group">
                <label></label>
                @if (Model.Mode == EditPageMode.Create)
                {
                    <input type="submit" value="新 增" class="pure-button"/>
                }
                else if (Model.Mode == EditPageMode.Update)
                {
                    <input type="submit" value="修 改" class="pure-button" onclick="return Check()" />
                }

            </div>
        </fieldset>
    </div>
}