﻿@model JamZoo.Project.WebSite.ViewModels.LoginPage
@using JamZoo.Project.WebSite.Enums;
@using JamZoo.Project.WebSite.Library;
@{
    Layout = null;
}

<!DOCTYPE html>
<!-- saved from url=(0029)http://design.jamcasa.com.tw/ -->
<html lang="en" class="wf-proximanova-n1-active wf-proximanova-n4-active wf-proximanova-n7-active wf-omnespro-n2-active wf-omnespro-n3-active wf-active">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta charset="utf-8">
    <title>WalkLib</title>    

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css" />    
    <style>
        input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px white inset;
        opacity: .4;
        }

        body {
        margin: 0;
        padding: 0;
        background: #fff;
        color: #fff;
        font-family: Arial;
        font-size: 12px;
        }


        .body {
        position: absolute;
        top: -20px;
        left: -20px;
        right: -40px;
        bottom: -40px;
        width: auto;
        height: auto;
        background-image: url(aplus_bg1.jpg);
        background-size: cover;
        -webkit-filter: blur(1px);
        z-index: 0;
        }


        .grad {
        position: absolute;
        top: -20px;
        left: -20px;
        right: -40px;
        bottom: -40px;
        width: auto;
        height: auto;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
        z-index: 1;
        opacity: 0.7;
        }


        .header {
        position: absolute;
        top: calc(50% + 20px);
        left: calc(50% - 300px);
        z-index: 2;
        text-align: center;
        width: 600px;
        }


        .header h1 {
        position: absolute;
        top: 23px;
        left: -13px;
        color: rgb(255, 255, 255);
        font-family: 'Ariel Black', sans-serif;
        font-size: 70px;
        font-weight: bold;
        width: 600px;
        text-align: center;
        }


        .header h3 {
        position: absolute;
        top: 125px;
        left: -20px;
        float: left;
        color: rgb(200, 200, 200);
        font-family: 'Ariel Black', sans-serif;
        width: 600px;
        }


        h4 {
        position: absolute;
        float: left;
        color: rgb(255, 255, 255);
        font-family: inherit;
        font-weight: 300px;
        font-size: 12px;
        letter-spacing: 2px;
        width: 70px;
        }

        .header div span {
        color: #5379fa !important;
        }

        .alert-error {
        position: absolute;
        top: 78px;
        right: 400px;
        color: rgb(190, 39, 50);
        }


        .subLogin a {
        position: absolute;
        right: 75px;
        top: 110px;
        text-decoration: none;
        color: rgb(106,111,115);
        }



        .login {
        position: absolute;
        top: calc(50% + 190px);
        left: calc(50% - 300px);
        height: 150px;
        width: 600px;
        padding: 10px;
        z-index: 2;
        }


        .auto_login img {
        position: absolute;
        left: 80px;
        }


        .login input[type=text] {
            width: 262px;
            height: 41px;
            background: transparent;
            background-image: url(/Content/images/user.png);
            background-repeat: no-repeat;
            background-position: 5px;
            border: 1px solid rgba(255,255,255,0.6);
            border-radius: 2px;
            color: #fff;
            font-family: 'Helvatica Nue', sans-serif;
            font-size: 16px;
            font-weight: 400;
            padding-left: 45px;
        }


        .login input[type=password] {
        position: absolute;
        top: calc(50% - 75px);
        left: calc(50% - 25px);
        width: 262px;
        height: 41px;
        background: transparent;
        background-image: url(/Content/images/pw.png);
        background-repeat: no-repeat;
        background-position: 5px;
        border: 1px solid rgba(255,255,255,0.6);
        border-radius: 2px;
        color: white;
        font-family: 'Helvatica Nue', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding-left: 45px;
        }

        .login input[type=submit] {
        position: absolute;
        top: calc(50% -60px);
        left: calc(50% - 25px);
        width: 263px;
        height: 35px;
        background: rgb(255, 255, 255);
        border: 1px solid rgb(255, 255, 255);
        cursor: pointer;
        border-radius: 2px;
        color: rgb(119, 96, 56);
        font-family: 'Helvatica Nue', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 6px;
        }

        .login input[type=button]:hover {
        opacity: 0.8;
        }

        .login input[type=button]:active {
        opacity: 0.6;
        }

        .login input[type=text]:focus {
        outline: none;
        border: 1px solid rgba(255,255,255,0.9);
        }

        .login input[type=password]:focus {
        outline: none;
        border: 1px solid rgba(255,255,255,0.9);
        }

        .login input[type=button]:focus {
        outline: none;
        }

        ::-webkit-input-placeholder {
        color: rgba(255,255,255,0.6);
        }

        ::-moz-input-placeholder {
        color: rgba(255,255,255,0.6);
        }

        .field-validation-error {
        color: rgba(284,241,56,1);
        }
    </style>
</head>
<body style="background:url('../Content/images/aplus_bg1.jpg') 50% 50% / cover no-repeat fixed rgb(0, 0, 0);">
@using (Html.BeginForm("Login", "Account", null, FormMethod.Post, new { @class = "pure-form pure-form-aligned" }))
{
    <div class="header">
        <h1>WalkLib</h1>
        <h3>地表では、最新、最大のモバイルライブラリプラットフォーム</h3>
    </div>
    <br>    
    <div class="login">

        <div class="login_user" style="position:absolute; top:16px;left:16px;">
            <img src="/Content/images/user.png">
        </div>
        <div class="login_pw" style="position:absolute; top:16px; left:291px;">
            <img src="/Content/images/pw.png">
        </div>

        @Html.TextBoxFor(p => p.Account, new { @class = "pure-input-1-1" }) <br />
        @Html.PasswordFor(p => p.Password, new { @type = "password" })   <br />

        <div class="auto_login">          
            <input type="submit" value="Login">   
        </div>        
    </div>                          
        }   
</body>
</html>


