﻿@using JamZoo.Project.WebSite.Enums;
@using JamZoo.Project.WebSite.Library;
@using System.Web.Script.Serialization;
@model JamZoo.Project.WebSite.Models.FolderModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string CurrentController = string.Empty;
    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        CurrentController = ViewContext.RouteData.Values["Controller"].ToString();
    }
}
<script type="text/javascript">


</script>
@Html.ActionLink("回上頁", "List", new { page = Model.page }, new { @class = "pure-button" })
<p>
    @Html.ValidationMessage("message")
</p>
@using (Html.BeginForm(Model.Mode == EditPageMode.Create ? "create" : "update",
    CurrentController, new { page = Model.page }, FormMethod.Post,
    new { enctype = "multipart/form-data", @class = "pure-form pure-form-aligned" }))
{
    @Html.HiddenFor(p => p.Id)
    @Html.HiddenFor(p => p.ThumbnailUrl)
    @Html.HiddenFor(p => p.Domain)
    @Html.HiddenFor(p => p.CreateAccountId)
    @Html.HiddenFor(p => p.CreateTime)
    @Html.HiddenFor(p => p.BookcaseId)

    <div>
        <fieldset style="background-color: white; padding: 30px;">
            <div class="pure-control-group">
                @Html.LabelFor(p => p.Name)
                @Html.TextBoxFor(p => p.Name)
                @Html.ValidationMessageFor(p => p.Name)
            </div>

            <div class="pure-control-group">
                @Html.LabelFor(p => p.TypeName)
                @Html.TextBoxFor(p => p.TypeName)
                @Html.ValidationMessageFor(p => p.TypeName)
            </div>

            <div class="pure-control-group">
                @Html.Label("資料夾縮圖")
                <label for="">
                    <input type="file" name="file" id="file" style="width: 800px;" />
                    @if (Model.ThumbnailUrl != null && Model.ThumbnailUrl != "")
                    {
                        <img src=@Model.ThumbnailUrl alt="Mountain View" style="width:304px;height:228px;">
                    }
                </label>
            </div>

            <div class="pure-control-group">
                @Html.Label("檔案類型")
                <label for="">
                    <table style="width: 50%" align="center">
                        <tr>
                            <td style="width: 20%">
                                @Html.LabelFor(model => model.DocTypeList, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td rowspan="2" style="width: 10%" align="center"><input id="btnAdd" type="button" value="&gt;" /><br /><input id="btnRemove" type="button" value="&lt;" /></td>
                            <td style="width: 20%">
                                @Html.LabelFor(model => model.FolderDocType, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.EditorFor(model => model.DocTypeList, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.FolderDocType, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.HiddenFor(model => model.DocTypeIdList)
                            </td>
                        </tr>
                    </table>
                </label>
            </div>

            <div class="pure-control-group">
                @Html.LabelFor(p => p.NoInherit)
                <label for="Status" class="pure-radio">
                    @Html.RadioButtonFor(p => p.NoInherit, true) 是&nbsp;
                    @Html.RadioButtonFor(p => p.NoInherit, false) 否&nbsp;
                </label>
                @Html.ValidationMessageFor(p => p.NoInherit)
            </div>

            <div class="pure-control-group">
            <label></label>
            @if (Model.Mode == EditPageMode.Create)
            {
            <input type="submit" value="新 增" class="pure-button" />
            }
            else if (Model.Mode == EditPageMode.Update)
            {
            <input type="submit" value="修 改" class="pure-button" onclick="return Check()" />
            }

            </div>
        </fieldset>
    </div>
}
<script>

    $(function () {
        $('#FolderDocType option').each(function () {
            $('#DocTypeList option[value="' + this.value + '"').remove();
        });

        $("#btnAdd").click(function () {
            $("#DocTypeList option:selected").each(function () {
                $('#FolderDocType')[0].add(new Option(this.text, this.value, true));
            });
            $('#DocTypeList option:selected').remove();

            var roleIds = "";
            $('#FolderDocType option').each(function () {
                roleIds += this.value + ",";
            });
            $("#DocTypeIdList").val(roleIds);
        });

        $("#btnRemove").click(function () {
            $('#FolderDocType option:selected').each(function () {
                $('#DocTypeList')[0].add(new Option(this.text, this.value, true));
            });
            $('#FolderDocType option:selected').remove();

            var roleIds = "";
            $('#FolderDocType option').each(function () {
                roleIds += this.value + ",";
            });
            $("#DocTypeIdList").val(roleIds);
        });        
    })
</script>