﻿@using JamZoo.Project.WebSite.Enums;
@model JamZoo.Project.WebSite.Models.FolderDocTypeModel
@{
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
    string CurrentController = string.Empty;
    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        CurrentController = ViewContext.RouteData.Values["Controller"].ToString();
    }
}
<p>
    @Html.ValidationMessage("message")
</p>
@using (Html.BeginForm("UpdateFolderDocType",
    CurrentController, null, FormMethod.Post,
    new { enctype = "multipart/form-data", @class = "pure-form pure-form-aligned" }))
{    
    <fieldset>    
        @Html.HiddenFor(p => p.ID)
 
        <div class="pure-control-group">
            <input id="btnSave" type="button" value="Save" class=" pure-button" />
        </div>           
        <table style="width: 50%" align="center">
            <tr>
                <td style="width: 20%">
                    @Html.LabelFor(model => model.DocTypeList, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td rowspan="2" style="width: 10%" align="center"><input id="btnAdd" type="button" value="&gt;" /><br/><input id="btnRemove" type="button" value="&lt;" /></td>
                <td style="width: 20%">
                    @Html.LabelFor(model => model.FolderDocType, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.EditorFor(model => model.DocTypeList, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.EditorFor(model => model.FolderDocType, new { htmlAttributes = new { @class = "form-control" } })                    
                    @Html.HiddenFor(model => model.DocTypeIdList)
                </td>
            </tr>
        </table>
    </fieldset>
    
}
<script>

    $(function () {
        $('#FolderDocType option').each(function () {
            $('#DocTypeList option[value="' + this.value + '"').remove();
        });

        $("#btnAdd").click(function() {
            $("#DocTypeList option:selected").each(function () {
                $('#FolderDocType')[0].add(new Option(this.text, this.value, true));
            });
            $('#DocTypeList option:selected').remove();
        });

        $("#btnRemove").click(function () {
            $('#FolderDocType option:selected').each(function () {
                $('#DocTypeList')[0].add(new Option(this.text, this.value, true));
            });
            $('#FolderDocType option:selected').remove();
        });

        $("#btnSave").click(function () {
            var roleIds = "";
            $('#FolderDocType option').each(function () {
                roleIds += this.value + ",";
            });
            $("#DocTypeIdList").val(roleIds);

            
            this.form.submit();
        });

    })
</script>