﻿@model JamZoo.Project.WebSite.Models.FolderListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string CurrentController = string.Empty;
    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        CurrentController = ViewContext.RouteData.Values["Controller"].ToString();
    }
}
<h2>資料夾</h2>
<div>
    <div style="background-color: white; padding: 30px;">
        @Html.Partial("_ErrorMsg", ViewContext.ViewData)
        <p></p>
        @using (Html.BeginForm("List", CurrentController, FormMethod.Get, new { @class = "pure-form" }))
        {
            <div class="pure-u-1-1" style="text-align:right">
                @Html.TextBoxFor(p => p.Search, new { placeholder = "請輸入關鍵字" })
                <input type="submit" class="pure-button" value="查詢" />
            </div>
        }
        <p></p>
        <script type="text/javascript">
            $(document).ready(function () {
                $(".fancybox").fancybox({
                    width: '80%',
                    height: '90%',
                    fitToView: false,
                    autoSize: false
                });
            });
        </script>
        @Html.ActionLink("新增", "add", new { page = Model.Page }, new { @class = "pure-button" })
        <p></p>
        <table class="pure-table pure-table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th>顯示名稱</th>
                    <th>資料夾說明</th>
                    <th>所在書櫃</th>                    
                    <th>文件管理</th>
                    <th>建立</th>
                    <th>功能</th>
                </tr>
            </thead>
            <tbody>

                @if (Model.Data != null)
                {
                    if (Model.Data.Count == 0)
                    {
                        <tr class="info">
                            <td colspan="6">暫無資料 </td>
                        </tr>
                    }
                    foreach (var Row in Model.Data)
                    {
                        <tr>
                            <td style="text-align: left;">
                                @Row.Name
                            </td>
                            <td>
                                @Row.TypeName
                            </td>
                            <td>
                                @Row.BookcaseName
                            </td>
                            <td style="text-align: center;">
                                @Html.ActionLink("文件管理", "List", "Document", new { foldId = Row.Id, page = Model.Page }, new { @class = "pure-button" })
                            </td>
                            <td>
                                @Row.CreateTime
                            </td>
                            <td>
                                @Html.ActionLink("編輯", "Edit", new { id = Row.Id, page = Model.Page }, new { @class = "pure-button" })
                                @Html.ActionLink("刪除", "delete", new { id = Row.Id, page = Model.Page }, new { onclick = "return confirm('確定刪除?');", @class = "pure-button" })   
                                
                                @if(Model.BookCaseIsNoInherit)
                                {
                                    @*@Html.ActionLink("編輯權限", "List", "Permission", new { folderId = Row.Id, page = Model.Page }, new { @class = "pure-button" })*@
                                    <a class="pure-button fancybox fancybox.iframe" href="~/Permission/List?folderId=@Row.Id&page=@Model.Page">編輯權限</a>
                                }                                                                                            
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="info">
                        <td colspan="5">暫無資料 </td>
                    </tr>
                }
            </tbody>
        </table>        
    </div>           
</div>
<p></p>
@{
    Request.RequestContext.RouteData.Values.Add("Search", Model.Search);
    @Html.Partial("_Pager", (JamZoo.Project.WebSite.Models.PagerModel)Model)
}
