﻿@model JamZoo.Project.WebSite.Models.CategoryListModel
@{
    Layout = "~/Views/Shared/_Layout_Com.cshtml";
    string CurrentController = string.Empty;
    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        CurrentController = ViewContext.RouteData.Values["Controller"].ToString();
    }
}
<h2>自訂分類</h2>
<div>
    <div style="background-color: white; padding: 30px;">
        @Html.Partial("_ErrorMsg", ViewContext.ViewData)
        <p></p>
        <script type="text/javascript">
            $(document).ready(function () {
                $(".fancybox").fancybox({
                    width: '40%',
                    height: '90%',
                    fitToView: false,
                    autoSize: false
                });
            });
        </script>
        @using (Html.BeginForm("List", CurrentController, FormMethod.Get, new { @class = "pure-form" }))
        {
            <div class="pure-u-1-1" style="text-align:right">
                @Html.TextBoxFor(p => p.Search, new { placeholder = "請輸入名稱" })
                <input type="submit" class="pure-button" value="查詢" />
            </div>
        }
        <p></p>
        @Html.ActionLink("新增", "add", new { page = Model.Page }, new { @class = "pure-button" })
        <p></p>
        <table class="pure-table pure-table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th>顯示名稱</th>
                    <th>篩選方式</th>
                    <th>項目</th>
                    <th>建立人員</th>
                    <th>功能</th>
                </tr>
            </thead>
            <tbody>

                @if (Model.Data != null)
                {
                    if (Model.Data.Count == 0)
                    {
                        <tr class="info">
                            <td colspan="5">暫無資料 </td>
                        </tr>
                    }
                    foreach (var Row in Model.Data)
                    {
                        <tr>
                            <td style="text-align: left;">
                                @Row.Name
                            </td>
                            <td>
                                @((Row.UiType == 0) ? "選單" : ((Row.UiType == 1) ? "輸入" : "勾選"))
                            </td>
                            <td style="text-align: center;">
                                <a class="pure-button fancybox.iframe" href="~/CategoryItem/List?CategoryId=@Row.Id">項目維護</a>
                            </td>
                            <td>
                                @Row.CreateAccountId
                            </td>
                            <td>
                                @Html.ActionLink("編輯", "Edit",
                            new { id = Row.Id, page = Model.Page },
                            new { @class = "pure-button" })
                                @Html.ActionLink("刪除", "delete", new { id = Row.Id, page = Model.Page }, new { onclick = "return confirm('確定刪除?');", @class = "pure-button" })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="info">
                        <td colspan="6">暫無資料 </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<p></p>
@{
    Request.RequestContext.RouteData.Values.Add("Search", Model.Search);
    @Html.Partial("_Pager", (JamZoo.Project.WebSite.Models.PagerModel)Model)
}
